*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 375px;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
}

/*
body {
    box-sizing: border-box;
    background: $colour-secondary;
}*/
body {
  font-family: "Roboto", sans-serif;
  color: #9356dc;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

li {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}

p {
  color: black;
  text-decoration: none;
}

h2 {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 28px;
  color: black;
  text-decoration: none;
}

.restaurants img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 335px;
  max-height: 174px;
}

footer {
  padding: 26px;
  background-color: #353535;
  color: #ffffff;
}
footer p {
  color: #ffffff;
}
footer .footer__logo h1 {
  color: #ffffff;
  font-family: shrikhand;
}

.fa-classic, .fa-regular, .fa-solid, .far, .fas {
  font-size: 20px;
  padding: 5px;
}
.fa-classic:hover, .fa-regular:hover, .fa-solid:hover, .far:hover, .fas:hover {
  cursor: pointer;
}

/*textarea {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 2rem;
}

/*button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}*/
/*.btn {
    @include btn
}*/
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.header__menu .back {
  position: relative;
  padding: 15px;
  margin-right: -60px;
}
.header__logo {
  line-height: 1;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo img {
  object-fit: contain;
  margin: 20px 100px;
  width: 166px;
  height: 39px;
}
.header__location {
  width: 100%;
  height: 49px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
  font-size: 13px;
}
.header__location i {
  padding-right: 10px;
  color: #000;
}
.header__button {
  width: 218px;
  height: 51px;
  border-radius: 30px;
  background-image: linear-gradient(#e771da, #9356dc);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__button p {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.header__button a {
  text-decoration: none;
}
.header__content {
  background-color: #f6f6f6;
  height: 287px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 55px;
}
.header__content span p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content h1 {
  font-size: 22px;
}

.navigation-container {
  width: 100%;
  padding: 57px 0px;
}
.navigation-container h1 {
  padding-bottom: 30px;
  padding-left: 20px;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.navigation__button1 {
  background: #f6f6f6;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 22px;
  width: 324px;
  height: 72px;
  color: #7e7e7e;
  box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
  border-radius: 30px;
}
.navigation__button1 h3 {
  overflow: visible;
  margin: -10px;
  padding: 11px;
  margin-right: 3px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-color: #9356dc;
  border-radius: 90px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__button1 p {
  font-weight: 400;
}
.navigation__button1--highlited {
  background-color: #f5edff;
  display: flex;
  align-items: center;
  gap: 22px;
  flex-direction: row;
  width: 324px;
  height: 72px;
  box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
  border-radius: 30px;
}
.navigation__button1--highlited h3 {
  overflow: visible;
  margin: -10px;
  padding: 11px;
  margin-right: 3px;
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  border-radius: 90px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__button1--highlited p {
  font-weight: 400;
}

/*.nav {
    padding-right: $layout-margin;
    flex: 2 1 auto;
    text-align: right;
    &__link {
        display: inline;
        font-size: 3rem;
        padding-left: 1.5rem;
        & a{
        text-decoration: none;
        color: $colour-tertiary;
        }
        &--active {
            color: $colour-secondary;
            &:hover{
                cursor:default;
                color: $colour-secondary;
            }
        }
        & a:hover{
            color: $colour-white;
        }
    }
}*/
.loader-wrapper {
  width: 375px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loaderw 3s 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes loaderw {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  position: relative;
  border: 1px solid #99e2d0;
  animation: loader 3s 0.2s infinite ease-out;
  animation-duration: 2s;
}
.loader i {
  display: flex;
  color: #ff79da;
  justify-content: center;
  align-items: center;
  padding: 0%;
  height: 100%;
  animation: fa-spinner 2s 0.2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(-1turn);
  }
}
@keyframes fa-spinner {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(2turn);
  }
}
.restaurants {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 40px;
  background: #f6f6f6;
}
.restaurants h1 {
  margin-left: 20px;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  gap: 18px;
  padding: 25px 0px;
}
.restaurants-cards__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 14px;
  line-height: 1.3;
}
.restaurants-cards__content .btn {
  color: #060606;
}
.restaurants-cards__content .btn i.fa-regular:active {
  display: none;
}
.restaurants-cards__content .btn i.fa-solid.fa-heart {
  display: none;
  color: #9356dc;
  background-image: linear-gradient(#9356dc, #e771da);
}
.restaurants-cards__content .btn i.fa-solid.fa-heart:active {
  background-image: linear-gradient(#9356dc, #e771da);
  transition: 1s;
}
.restaurants-cards__1 {
  width: 335px;
  height: 251px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
  border-radius: 20px;
  gap: 5px;
}
.restaurants-cards__1--new {
  width: 335px;
  height: 251px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
  border-radius: 20px;
  gap: 5px;
}
.restaurants-cards__1--new h3 {
  position: relative;
  color: #068b6b;
  width: 79px;
  height: 29px;
  background-color: #99e2d0;
  margin-top: -173px;
  margin-left: 240px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo h1 {
  cursor: pointer;
  padding-bottom: 10px;
  font-size: 25px;
}
.footer__content a {
  text-decoration: none;
}
.footer__content--icon {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  gap: 5px;
}
.footer__content--icon i {
  font-size: 15px;
}

/*.form {
    width: 100%;
    padding-bottom: $grid-gutter;
    &__heading {
        width: 100%;
        color: $colour-white;
        @include heading-shadow;
        background: $colour-primary;
        line-height: 5rem;
        padding: $grid-gutter;
    }
    &__field {
        & label {
            color: $colour-tertiary;
            display: block;
            font-size: 2rem;
            line-height: 2rem;
            padding-top: $grid-gutter;
        }
        & input {
            width: 100%;
            background: $colour-secondary;
            @include border;
            padding: $grid-gutter;
            color: $colour-tertiary;
            font-weight: 900;
            font-style: italic;
            font-size: 2.75rem;
            @include border;
            background-color: $colour-secondary;
            color: $colour-primary;

        }
        & textarea {
            width: 100%;
            color: $colour-primary;
            background: $colour-secondary;
            @include border;
            outline: none;
            padding: $grid-gutter;
            margin-bottom: $grid-gutter*0.5;
        }
    }
}*/
.header__picture img {
  width: 375px;
  height: 255px;
}

/*.quote {
    text-align: right;
    font-size: 6rem;
    font-weight: 900;
    font-style: italic;
    color: $colour-tertiary;
    margin: 2rem $layout-margin ($layout-margin)*-0.5 $layout-margin;
    strong {
        color: $colour-primary;
    }
}

.proj-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $grid-gutter;
}

.proj-prev{
    $self: &;
    color: $colour-white;
    margin-bottom: $grid-gutter;
    &__image {
        margin: 0;
        opacity: .2;
        @include img-ratio;
    }
    &__heading {
        font-size: 4rem;
        padding-left: 2.5rem;
        margin: 0;
        line-height: 6rem;
    }
    &__byline {
        padding-left: 2.5rem;
        font-size: 1.66rem;
    }
    &:hover {
        cursor: pointer;
    }
}*/
body {
  width: 100%;
}

.header__picture img {
  object-fit: cover;
  width: 375px;
  height: 255px;
}
.header__picture a {
  width: 100%;
}

.menu {
  width: 375px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  position: relative;
  margin-top: -50px;
  padding-bottom: 60px;
}
.menu__cards {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.menu__cards-heading {
  padding-left: 10px;
  padding-bottom: 14px;
  line-height: 1;
}
.menu__cards h1 {
  width: 40px;
  height: 3px;
  color: #99e2d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__cards--uppercase {
  padding-top: 43px;
}
.menu__name {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.menu__name h1 {
  font-size: 25px;
  font-family: "Shrikhand", cursive;
  font-style: italic;
}
.menu__name .btn {
  color: #060606;
}
.menu__card {
  width: 349px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
  line-height: 1.3;
  padding-left: 15px;
  cursor: pointer;
}
.menu__card h2 {
  font-size: 18px;
}
.menu .btn-price {
  height: 69px;
  width: 59px;
  padding-bottom: 10px;
  padding-right: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
}
.menu__entrees {
  width: 100%;
}
.menu__main_dish {
  width: 100%;
}
.menu__desserts {
  width: 100%;
}

.navigation__button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 30px;
  width: 186px;
  height: 50px;
  background-image: linear-gradient(#e771da, #9356dc);
  border-radius: 30px;
  cursor: pointer;
}
.navigation__button2 p {
  color: #ffffff;
  font-weight: 600;
}

#bigger-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

#dish-bold {
  padding: 0px;
}

/*.about {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 5fr; 
    grid-template-rows: repeat(3, auto);
    padding: $grid-gutter;
    grid-template-areas:
        "imagery heading"
        "imagery copy"
        "imagery btn";
    margin-bottom: $grid-gutter;
    &__heading {
        grid-area: heading;
        color: $colour-white;
        @include heading-shadow;
        text-align: right;
        padding-right: $grid-gutter;
    }
    &__imagery {
        grid-area: imagery;
    }
    &__pic {
        overflow:hidden;
        width: 80%;
        border-radius: 1000rem;
        border: 1.5rem solid $colour-primary;
        & img {
            display: block;
            width: 100%;
        }
    }
    &__copy {
        grid-area: copy;
        & p{
            line-height: 2rem*1.2;
            margin-bottom: $grid-gutter*2.25;
        } 
    }
    &__btn{
        @include btn;
        grid-area: btn;
        & a {
            text-decoration: none;
        }
    }
}*/
.header__picture img {
  width: 375px;
  height: 255px;
}

.header__picture img {
  width: 375px;
  height: 255px;
}

/*.project {
    width: 100%;
    margin-bottom: $grid-gutter*1.2;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: $grid-gutter;
    grid-template-areas: 
        "image synopsis"
        "tags synopsis"
        "btn btn";
    &__image {
        grid-area: image;
        @include img-ratio;
    }
    &__synopsis {
        grid-area: synopsis;
        padding-left: $grid-gutter;
        & h1 {
            color: $colour-white;
            @include heading-shadow;
        }
        & p {
            line-height: 2rem*1.25;
        }
    }
    &__tags {
        grid-area: tags;
        & p {
            color: $colour-white;
            & strong {
                color: $colour-primary;
                font-weight: 900;
                font-style: italic;
            }
        }
    }
    &__btn {
        @include btn;
        grid-area: btn;
    }
}*/

/*# sourceMappingURL=style.css.map */
