*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
}

body {
  box-sizing: border-box;
  z-index: 1;
  display: contents;
}

body {
  font-family: "Roboto", sans-serif;
  color: #9356dc;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

li {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}

p {
  color: black;
  text-decoration: none;
}

h2 {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 28px;
  color: black;
  text-decoration: none;
}

.restaurants img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 335px;
  max-height: 174px;
}

footer {
  width: 375px;
  padding: 26px;
  background-color: #353535;
  color: #ffffff;
}
footer p {
  color: #ffffff;
}
footer .footer__logo h1 {
  color: #ffffff;
  font-family: shrikhand;
}

.fa-classic, .fa-regular, .fa-solid, .far, .fas {
  font-size: 20px;
  padding: 5px;
}
.fa-classic:hover, .fa-regular:hover, .fa-solid:hover, .far:hover, .fas:hover {
  cursor: pointer;
}

li {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

/*textarea {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 2rem;
}

/*button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}*/
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 375px;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.header__menu .back {
  position: relative;
  padding: 15px;
  margin-right: -60px;
  color: #000000;
}
.header__logo {
  line-height: 1;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo img {
  object-fit: contain;
  margin: 20px 100px;
  width: 166px;
  height: 39px;
}
.header__location {
  width: 100%;
  height: 49px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
  font-size: 13px;
}
.header__location i {
  padding-right: 10px;
  color: #000;
}
.header__button {
  width: 218px;
  height: 51px;
  border-radius: 30px;
  background-image: linear-gradient(#e771da, #9356dc);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 0px 5px #ececec, 0px 3px 5px 5px #ececec;
}
.header__button:hover {
  background-image: linear-gradient(#e890df, rgba(208, 106, 219, 0.7960784314));
  box-shadow: 0px 3px 0px 5px #e0dfdf, 0px 3px 5px 5px #dad9d9;
}
.header__button p {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.header__button a {
  text-decoration: none;
}
.header__content {
  background-color: #f6f6f6;
  height: 287px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 55px;
}
.header__content span p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content h1 {
  font-size: 22px;
}

.navigation-container {
  width: 100%;
  padding: 57px 0px;
}
.navigation-container h1 {
  padding-bottom: 30px;
  padding-left: 20px;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.navigation__button1 {
  background: #f6f6f6;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 22px;
  width: 324px;
  height: 72px;
  color: #7e7e7e;
  box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
  border-radius: 30px;
}
.navigation__button1 h3 {
  overflow: visible;
  margin: -10px;
  padding: 11px;
  margin-right: 3px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-color: #9356dc;
  border-radius: 90px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__button1 p {
  font-weight: 400;
}
.navigation__button1--highlited {
  background-color: #f5edff;
  display: flex;
  align-items: center;
  gap: 22px;
  flex-direction: row;
  width: 324px;
  height: 72px;
  box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
  border-radius: 30px;
}
.navigation__button1--highlited h3 {
  overflow: visible;
  margin: -10px;
  padding: 11px;
  margin-right: 3px;
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  border-radius: 90px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__button1--highlited p {
  font-weight: 400;
}

/*.nav {
    padding-right: $layout-margin;
    flex: 2 1 auto;
    text-align: right;
    &__link {
        display: inline;
        font-size: 3rem;
        padding-left: 1.5rem;
        & a{
        text-decoration: none;
        color: $colour-tertiary;
        }
        &--active {
            color: $colour-secondary;
            &:hover{
                cursor:default;
                color: $colour-secondary;
            }
        }
        & a:hover{
            color: $colour-white;
        }
    }
}*/
.loader-wrapper {
  width: 100%;
  height: 2400px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: loaderw 3s both 0ms ease-out;
  z-index: 0;
}

@keyframes loaderw {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  82% {
    opacity: 0.9;
  }
  84% {
    opacity: 0.85;
  }
  86% {
    opacity: 0.8;
  }
  88% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.65;
  }
  92% {
    opacity: 0.4;
  }
  94% {
    opacity: 0.3;
  }
  96% {
    opacity: 0.2;
  }
  98% {
    opacity: 0.1;
  }
  99% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-9999px);
  }
}
.loader {
  margin-top: -1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  position: relative;
  border: 1px solid #99e2d0;
  animation: loader 3s 0.2s infinite ease-out;
}
.loader i {
  display: flex;
  color: #ff79da;
  justify-content: center;
  align-items: center;
  padding: 0%;
  height: 100%;
  animation: fa-spinner 3s 0.2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(-1turn);
  }
}
@keyframes fa-spinner {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(2turn);
  }
}
.restaurants {
  width: 375px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 40px;
  background: #f6f6f6;
}
.restaurants h1 {
  margin-left: 20px;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  gap: 18px;
  padding: 25px 0px;
}
.restaurants-cards__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0px 14px;
  line-height: 1.3;
  color: #060606;
}
.restaurants-cards__content .btn .fa-heart {
  color: #060606;
}
.restaurants-cards__content .btn:checked ~ i {
  animation: heart 0.5s both 0.2s 1 ease-in;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#9356dc, #e771da);
}
@keyframes heart {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleY(0.18);
  }
  24% {
    transform: scaleY(0.4);
  }
  46% {
    transform: scaleY(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.restaurants-cards .content-txt {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.restaurants-cards__1 {
  width: 335px;
  height: 251px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
  border-radius: 20px;
}
.restaurants-cards__1--new {
  width: 335px;
  height: 251px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
  border-radius: 20px;
}
.restaurants-cards__1--new h3 {
  position: relative;
  color: #068b6b;
  width: 79px;
  height: 29px;
  background-color: #99e2d0;
  margin-top: -173px;
  margin-left: 240px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 375px;
}
.footer__logo h1 {
  cursor: pointer;
  padding-bottom: 10px;
  font-size: 25px;
}
.footer__content a {
  text-decoration: none;
}
.footer__content--icon {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  gap: 5px;
}
.footer__content--icon i {
  font-size: 15px;
}

input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  margin-left: 270px;
  width: 40px;
  height: 40px;
}

/*.form {
    width: 100%;
    padding-bottom: $grid-gutter;
    &__heading {
        width: 100%;
        color: $colour-white;
        @include heading-shadow;
        background: $colour-primary;
        line-height: 5rem;
        padding: $grid-gutter;
    }
    &__field {
        & label {
            color: $colour-tertiary;
            display: block;
            font-size: 2rem;
            line-height: 2rem;
            padding-top: $grid-gutter;
        }
        & input {
            width: 100%;
            background: $colour-secondary;
            @include border;
            padding: $grid-gutter;
            color: $colour-tertiary;
            font-weight: 900;
            font-style: italic;
            font-size: 2.75rem;
            @include border;
            background-color: $colour-secondary;
            color: $colour-primary;

        }
        & textarea {
            width: 100%;
            color: $colour-primary;
            background: $colour-secondary;
            @include border;
            outline: none;
            padding: $grid-gutter;
            margin-bottom: $grid-gutter*0.5;
        }
    }
}*/
.header__picture img {
  width: 375px;
  height: 255px;
}

/*.quote {
    text-align: right;
    font-size: 6rem;
    font-weight: 900;
    font-style: italic;
    color: $colour-tertiary;
    margin: 2rem $layout-margin ($layout-margin)*-0.5 $layout-margin;
    strong {
        color: $colour-primary;
    }
}

.proj-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $grid-gutter;
}

.proj-prev{
    $self: &;
    color: $colour-white;
    margin-bottom: $grid-gutter;
    &__image {
        margin: 0;
        opacity: .2;
        @include img-ratio;
    }
    &__heading {
        font-size: 4rem;
        padding-left: 2.5rem;
        margin: 0;
        line-height: 6rem;
    }
    &__byline {
        padding-left: 2.5rem;
        font-size: 1.66rem;
    }
    &:hover {
        cursor: pointer;
    }
}*/
body {
  max-width: 375px;
}

.header__picture img {
  object-fit: cover;
  max-width: 375px;
  height: 255px;
}
.header__picture a {
  width: 100%;
}

.btn {
  color: #060606;
  padding: 0px;
}
.btn:checked ~ i {
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#9356dc, #e771da);
  animation: heart 0.5s both 0.2s 1 ease-in;
}

@keyframes heart {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
    scale: 0;
  }
  17% {
    transform: scaleY(0.18);
  }
  24% {
    transform: scaleY(0.4);
  }
  46% {
    transform: scaleY(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
.menu {
  width: 375px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  position: relative;
  margin-top: -50px;
  padding-bottom: 60px;
}
.menu__cards {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.menu__cards-heading {
  padding-left: 10px;
  padding-bottom: 14px;
  line-height: 1;
}
.menu__cards h1 {
  width: 40px;
  height: 3px;
  color: #99e2d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__cards--uppercase {
  padding-top: 43px;
}
.menu__name {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: #060606;
}
.menu__name h1 {
  font-size: 25px;
  font-family: "Shrikhand", cursive;
  font-style: italic;
}
.menu__name .btn {
  color: #060606;
}
.menu__card {
  width: 349px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
  line-height: 1.3;
  padding-left: 15px;
  z-index: 2;
  cursor: pointer;
}
@keyframes hover-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.menu__card--hover {
  position: relative;
  color: #ffffff;
  background-color: #99e2d0;
  border-radius: 20px;
  width: 349px;
  height: 69px;
  margin-top: -69px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 0;
}
.menu__card--hover i {
  z-index: -3;
  padding: 16px;
  font-size: 23px;
  position: relative;
}
@keyframes spin-to-wiew {
  0% {
    transform: translateX(25px) rotate(0turn);
  }
  100% {
    transform: translateX(0) rotate(1turn);
  }
}
@keyframes card-slide {
  0% {
    width: 100%;
    box-shadow: 0 4px 0 0 #ececec, 0 4px 0 0 #ececec;
  }
  100% {
    width: 85%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 4px 0 0 #ececec, 0 4px 0 0 #ececec;
  }
}
@keyframes card-slide-back {
  0% {
    width: 85%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 4px 8px 0 #ececec, 0 0 0 0 #ececec;
  }
  100% {
    width: 100%;
    box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
  }
}
@keyframes card-refresh {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.menu__card h2 {
  font-size: 18px;
}
.menu .btn-price {
  height: 69px;
  width: 59px;
  position: relative;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
}
.menu__entrees {
  min-width: 0px;
  max-width: 281px;
  flex: 1;
}
.menu__entrees h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__entrees p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__main_dish {
  min-width: 0px;
  max-width: 281px;
  flex: 1;
}
.menu__main_dish h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__main_dish p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__desserts {
  min-width: 0px;
  max-width: 281px;
  flex: 1;
}
.menu__desserts h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__desserts p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navigation__button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 30px;
  width: 186px;
  height: 50px;
  background-image: linear-gradient(#e771da, #9356dc);
  border-radius: 30px;
  cursor: pointer;
}
.navigation__button2 p {
  color: #ffffff;
  font-weight: 600;
}
.navigation__button2:hover {
  background-image: linear-gradient(#e890df, rgba(208, 106, 219, 0.7960784314));
  box-shadow: 0px 3px 0px 5px #e0dfdf, 0px 3px 5px 5px #dad9d9;
}

#bigger-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

#bigger-card8-hover {
  height: 86.297px;
  position: relative;
  margin-top: -86px;
}

#bigger-card4-hover {
  height: 86.297px;
  position: relative;
  margin-top: -100.297px;
}

#dish-bold {
  padding: 0px;
}

/*#card2 {
    animation: card-refresh 1s forwards 0.1s 1 ease-out;
    & + #card2-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card2-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card3 {
    animation: card-refresh 1s forwards 0.15s 1 ease-out;
    & + #card3-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card3-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card4 {
    animation: card-refresh 1s forwards 0.2s 1 ease-out;
    & + #card4-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card4-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card4 {
    animation: card-refresh 1s forwards 0.30s 1 ease-out;
    & + #bigger-card4-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #bigger-card4-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card5 {
    animation: card-refresh 1s forwards 0.25s 1 ease-out;
    & + #card5-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card5-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card6 {
    animation: card-refresh 1s forwards 0.30s 1 ease-out;
    & + #card6-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card6-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card7 {
    animation: card-refresh 1s forwards 0.35s 1 ease-out;
    & + #card7-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card7-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &:hover::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card8 {
    animation: card-refresh 1s forwards 0.40s 1 ease-out;
    & + #card8-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card8-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card8 {
    animation: card-refresh 1s forwards 0.40s 1 ease-out;
    & + #bigger-card8-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #bigger-card8-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card9 {
    animation: card-refresh 1s forwards 0.45s 1 ease-out;
    & + #card9-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card9-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card10 {
    animation: card-refresh 1s forwards 0.45s 1 ease-out;
    & + #card10-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card10-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}*/
.container {
  z-index: 3;
}

.container {
  animation: card-refresh 1s forwards 0.1s 1 ease-in-out;
}
.container > .menu__card {
  /*width: 100%;
  transition:  width 0.5s ease-in 0.2s;*/
}
.container > .menu__card {
  animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
}
.container > .menu__card + .menu__card--hover i {
  animation: icon-out 0.5s backwards 0.2s 1 ease-in;
}
.container > .menu__card::after {
  animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
}
.container > .menu__card:hover {
  /*width: 85%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 4px 0 0 #ececec, 0 4px 0 0 #ececec;  
  transition:  width 0.5s ease-out 0.2s;*/
  animation: card-slide 0.5s forwards 0.2s 1 ease-out;
}
.container > .menu__card:hover + .menu__card--hover i {
  animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
}
.container > .menu__card:hover::before {
  animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
}
.container > .menu__card:hover::after {
  /*width: 100%;
  box-shadow: 0 4px 0 0 #ececec, 0 4px 0 0 #ececec; 
  transition: box-shadow 0.5 ease-in 0.2s;*/
  animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
}
.container > .menu__card:hover::after + .menu__card--hover i {
  transform: translateX(-25px);
}

@keyframes icon-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(25px);
  }
}
.header__picture img {
  width: 375px;
  height: 255px;
}

.header__picture img {
  width: 375px;
  height: 255px;
}

/*.project {
    width: 100%;
    margin-bottom: $grid-gutter*1.2;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: $grid-gutter;
    grid-template-areas: 
        "image synopsis"
        "tags synopsis"
        "btn btn";
    &__image {
        grid-area: image;
        @include img-ratio;
    }
    &__synopsis {
        grid-area: synopsis;
        padding-left: $grid-gutter;
        & h1 {
            color: $colour-white;
            @include heading-shadow;
        }
        & p {
            line-height: 2rem*1.25;
        }
    }
    &__tags {
        grid-area: tags;
        & p {
            color: $colour-white;
            & strong {
                color: $colour-primary;
                font-weight: 900;
                font-style: italic;
            }
        }
    }
    &__btn {
        @include btn;
        grid-area: btn;
    }
}*/

/*# sourceMappingURL=style.css.map */
