.loader-wrapper{
    width: 100%;
    height: 2400px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: loaderw 3s both 0ms ease-out;
    z-index: 0;
}
@keyframes loaderw {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    82% {
        opacity: 0.90;
    }
    84% {
        opacity: 0.85;
    }
    86% {
        opacity: 0.80;
    }
    88% {
        opacity: 0.70;
    }
    90% {
        opacity: 0.65;
    }
    92% {
        opacity: 0.40;
    }
    94% {
        opacity: 0.30;
    }
    96% {
        opacity: 0.20;
    }
    98% {
        opacity: 0.10;
    }
    99% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(-9999px);
    }
}
.loader{
    margin-top: -1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    position: relative;
    border: 1px solid $colour-tertiary;
    animation: loader 3s 0.2s infinite ease-out;
    & i {
        display: flex;
        color: $colour-secondary;
        justify-content: center;
        align-items: center;
        padding: 0%;
        height: 100%;
        animation: fa-spinner 3s 0.2s infinite ease-in;  
    }
}
@keyframes loader{
    0% {transform: rotate(0turn);}
    100% {transform: rotate(-1turn);}
}
@keyframes fa-spinner {
    0% {transform: rotate(0turn);}
    100% {transform: rotate(2turn);}
}
.restaurants {
    width: 375px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 40px;
    background: #f6f6f6;
    & h1 {
        margin-left: 20px;
    }
}
.restaurants-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    gap: 18px;
    padding: 25px 0px;
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0px 14px;
        line-height: 1.3;
        color: #060606;
        & .btn{
            & .fa-heart {
            color: #060606;
            }
            &:checked ~ i {
                animation: heart 0.5s both 0.2s 1 ease-in;
                font-weight: 900;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                @include gradient1;  
            }
        }
        @keyframes heart{
            0% {
                transform: scaleY(0);
                opacity: .1;
            }
            17% {
                transform: scaleY(.18);
            }
            24% {
                transform: scaleY(.4);
            }
            46% {
                transform: scaleY(.81);
            }
            85%,100% {
                opacity: 1;
            }
            100% {
                opacity: 1;
                transform: scaleY(1);
            }
        }
    }
    .content-txt {
        padding-top: 10px;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    &__1{
        width: 335px;
        height: 251px;
        display: flex;
        flex-direction: column;
        @include card-shadow;
        border-radius: 20px;
    &--new{
        width: 335px;
        height: 251px;
        display: flex;
        flex-direction: column;
        @include card-shadow;
        border-radius: 20px;
        & h3 {
            position: relative;
            color: #068b6b;
            width: 79px;
            height: 29px;
            background-color: $colour-tertiary;
            margin-top: -173px;
            margin-left: 240px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    }
}
.footer {
    width: 375px;
    &__logo h1{
    cursor: pointer;
    padding-bottom: 10px;
    font-size: 25px;
    }
    &__content{
        & a {
            text-decoration: none;
        }
        &--icon{
            display: flex;
            flex-direction: row;
            font-size: 15px;
            gap: 5px;
            & i {
                font-size: 15px;
            }
        }
    }
}
input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 1;    
    margin-left: 270px;
    width: 40px;
    height: 40px;
}


