.restaurants {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 40px;
    background: #f6f6f6;
    & h1 {
        margin-left: 20px;
    }
}
.restaurants-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    gap: 18px;
    padding: 25px 0px;
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 14px;
        line-height: 1.3;
        & .btn {
            color: #060606;
        }
        & .btn i.fa-regular:active{
            display: none;
        }
        & .btn i.fa-solid.fa-heart{
            display: none;
            color: $colour-primary;
            @include gradient1;
        }
        & .btn i.fa-solid.fa-heart:active{
            @include gradient1;
            transition: 1s;
        }
    }
    &__1{
        width: 335px;
        height: 251px;
        display: flex;
        flex-direction: column;
        @include card-shadow;
        border-radius: 20px;
        gap: 5px;
    &--new{
        width: 335px;
        height: 251px;
        display: flex;
        flex-direction: column;
        @include card-shadow;
        border-radius: 20px;
        gap: 5px;
        & h3 {
            position: relative;
            color: #068b6b;
            width: 79px;
            height: 29px;
            background-color: $colour-tertiary;
            margin-top: -173px;
            margin-left: 240px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    }
}
.footer{
    &__logo h1{
    cursor: pointer;
    }
    &__content{
        & a {
            text-decoration: none;
        }
        &--icon{
            display: flex;
            flex-direction: row;
            font-size: 15px;
            gap: 5px;
        }
    }
}

/*.container {
    margin: $layout-margin;
    padding: $grid-gutter $grid-gutter 0 $grid-gutter;
    @include border($colour-tertiary);
}*/


