.loader-wrapper{
    width: 375px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loaderw 3s 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes loaderw {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    position: relative;
    border: 1px solid $colour-tertiary;
    animation: loader 3s 0.2s infinite ease-out;   
    animation-duration: 2s;
    & i {
        display: flex;
        color: $colour-secondary;
        justify-content: center;
        align-items: center;
        padding: 0%;
        height: 100%;
        animation: fa-spinner 2s 0.2s infinite ease-in;  
    }
}
@keyframes loader{
    0% {transform: rotate(0turn);}
    100% {transform: rotate(-1turn);}
}
@keyframes fa-spinner {
    0% {transform: rotate(0turn);}
    100% {transform: rotate(2turn);}
}
.restaurants {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 40px;
    background: #f6f6f6;
    & h1 {
        margin-left: 20px;
    }
}
.restaurants-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    gap: 18px;
    padding: 25px 0px;
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 14px;
        line-height: 1.3;
        & .btn {
            color: #060606;
        }
        & .btn i.fa-regular:active{
            display: none;
        }
        & .btn i.fa-solid.fa-heart{
            display: none;
            color: $colour-primary;
            @include gradient1;
        }
        & .btn i.fa-solid.fa-heart:active{
            @include gradient1;
            transition: 1s;
        }
    }
    &__1{
        width: 335px;
        height: 251px;
        display: flex;
        flex-direction: column;
        @include card-shadow;
        border-radius: 20px;
        gap: 5px;
    &--new{
        width: 335px;
        height: 251px;
        display: flex;
        flex-direction: column;
        @include card-shadow;
        border-radius: 20px;
        gap: 5px;
        & h3 {
            position: relative;
            color: #068b6b;
            width: 79px;
            height: 29px;
            background-color: $colour-tertiary;
            margin-top: -173px;
            margin-left: 240px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    }
}
.footer{
    &__logo h1{
    cursor: pointer;
    padding-bottom: 10px;
    font-size: 25px;
    }
    &__content{
        & a {
            text-decoration: none;
        }
        &--icon{
            display: flex;
            flex-direction: row;
            font-size: 15px;
            gap: 5px;
            & i {
                font-size: 15px;
            }
        }
    }
}


