.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 375px;
    align-items: center;
    &__picture{
        width: 100%;
        max-width: 375px;
        display: flex;
        align-self: flex-start;
    }
    &__menu {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        & .back {
            position: relative;
            padding: 15px;
            margin-right: -60px;
            color: #000000;
        }
    }
    &__logo {
        line-height: 1;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
    & img{
        object-fit:contain;
        margin: 20px 100px;
        width: 166px;
        height: 39px;
    } }
    &__location {
        width: 100%;
        height: 49px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        background-color: #eaeaea;
        font-size: 13px;
        & i {
            padding-right: 10px;
            color: #000;
        }
    }
    &__button {
        width: 218px;
        height: 51px;
        border-radius: 30px;
        @include gradient;
        display: flex;
        align-items: center;
        justify-content: center;
        @include button-shadow;
        &:hover{
            @include gradient-lighter; 
            @include button-shadow-darker;
        }
        & p {
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
        }
        & a {
            text-decoration: none;
        }
    }
    &__content {
        background-color: #f6f6f6;
        height: 287px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 55px;
        & span p {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & h1 {
            font-size: 22px;
        }
    }
}
.navigation-container {
    width: 100%;
    padding: 57px 0px;
    & h1 {
        padding-bottom: 30px;
        padding-left: 20px;
    }
}
.navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    &__button1 {
        background: #f6f6f6;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 22px;
        width: 324px;
        height: 72px;
        color: #7e7e7e;
        @include card-shadow;
        border-radius: 30px;
        & h3 {
            overflow: visible;
            margin: -10px;
            padding: 11px;
            margin-right: 3px;
            width: 24px;
            height: 24px;
            margin-right: 10px;
            background-color: $colour-primary;
            border-radius: 90px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & p {
            font-weight: 400;
        }
        &:hover{
        background-color: #f5edff;
        display: flex;
        align-items: center;
        gap: 22px;
        flex-direction: row;
        width: 324px;
        height: 72px;
        @include card-shadow-hover;
        border-radius: 30px;
        & h3 {
            overflow: visible;
            margin: -10px;
            padding: 11px;
            margin-right: 3px;
            width: 24px;
            height: 24px;
            background-color: $colour-primary;
            border-radius: 90px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & i {
            color: $colour-primary;
        }
        & p {
            font-weight: 400;
        }
        }
    }
}