.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: center;
    &__menu {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }
    &__logo {
        line-height: 1;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
    & img{
        object-fit:contain;
        margin: 20px 100px;
        width: 166px;
        height: 39px;
    } }
    &__location {
        width: 100%;
        height: 49px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        background-color: #eaeaea;
        font-size: 13px;
        & i {
            padding-right: 10px;
            color: #000;
        }
    }
    &__button {
        width: 218px;
        height: 51px;
        border-radius: 30px;
        background-color: $colour-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        & p {
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__content {
        background-color: #f6f6f6;
        height: 287px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        & p span{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.navigation-container {
    width: 100%;
}
.navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    &__button {
        background: #f6f6f6;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 22px;
        width: 324px;
        height: 72px;
        color: #7e7e7e;
        @include card-shadow;
        border-radius: 30px;
        & h3 {
            overflow: visible;
            margin: -10px;
            padding: 11px;
            margin-right: 3px;
            width: 24px;
            height: 24px;
            margin-right: 10px;
            background-color: $colour-primary;
            border-radius: 90px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &--highlited {
        background-color: #f5edff;
        display: flex;
        align-items: center;
        gap: 22px;
        flex-direction: row;
        width: 324px;
        height: 72px;
        @include card-shadow;
        border-radius: 30px;
        & h3 {
            overflow: visible;
            margin: -10px;
            padding: 11px;
            margin-right: 3px;
            width: 24px;
            height: 24px;
            background-color: $colour-primary;
            border-radius: 90px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        }
    }
}