*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 375px;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
}

/*
body {
    box-sizing: border-box;
    background: $colour-secondary;
}*/