body {
    font-family: 'Roboto', sans-serif;
    color: $colour-primary;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.7;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}li {
    color: #ffffff;
    text-decoration: none; 
    list-style: none;
}
p {
    color: black;
    text-decoration: none;
}
h2 {
    color: black;
    text-decoration: none;
}
h1 {
    font-size: 28px;
    color: black;
    text-decoration: none;
}
.restaurants img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 335px;
    max-height: 174px;
}
footer {
    width: 375px;
    padding: 26px;
    background-color: #353535;
    color: #ffffff;
    & p {
        color: #ffffff;
    }
    & .footer__logo h1 {
        color: #ffffff;
        font-family: shrikhand;
    }
}
.fa-classic, .fa-regular, .fa-solid, .far, .fas {
    font-size: 20px;
    padding: 5px;
    &:hover {
        cursor: pointer;
    }
}
li {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}
/*textarea {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 2rem;
}

/*button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}*/