body {
    max-width: 375px;
}
.header {
    &__picture {
        & img {
        object-fit: cover;
        max-width: 375px;
        height: 255px;
        }
    & a {
        width: 100%;
        }
    }
}
.btn {
    color: #060606;
    padding: 0px;
&:checked {
    & ~ i {
    font-weight: 900;
    background-clip: text;
    -webkit-background-clip: 
    text;color: transparent;
    @include gradient1;
    animation: heart 0.5s both 0.2s 1 ease-in;
    }
}
}
@keyframes heart{
    0% {
        transform: scaleY(0);
        opacity: 0.1;
    }
    17% {
        transform: scaleY(.18);
    }
    24% {
        transform: scaleY(.4);
    }
    46% {
        transform: scaleY(.81);
    }
    85%,100% {
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}
.menu {
    width: 375px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    position: relative;
    margin-top: -50px;
    padding-bottom: 60px;
    &__cards {
    display: flex;
    flex-direction: column;
    gap: 14px;
    &-heading {
        padding-left: 10px;
        padding-bottom: 14px;
        line-height: 1;
    }
    & h1 {
        width: 40px;
        height: 3px;
        color: $colour-tertiary;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &--uppercase {
        padding-top: 43px;
    }
    }
    &__name {
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        padding-top: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        color: #060606;
        & h1 {
            font-size: 25px;
            font-family: 'Shrikhand', cursive;
            font-style: italic;
        }
        & .btn {
            color: #060606;
        }
    }
    &__card {
        width: 349px;
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 20px;
        @include card-shadow;
        line-height: 1.3;
        padding-left: 15px;
        z-index: 2;
        cursor: pointer;
        @keyframes hover-opacity {
            0% {opacity: 0;}
            100%{ opacity: 0;}
        }
        &--hover {
            position: relative;
            color: #ffffff;
            background-color: $colour-tertiary;
            border-radius: 20px;
            width: 349px;
            height: 69px;
            margin-top: -69px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            z-index: 0;
            & i {
                z-index: -3;
                padding: 16px;
                font-size: 23px;
                position: relative;
            }
        }
        @keyframes spin-to-wiew {
            0% {
                transform: translateX(25px) rotate(0turn);
            }
            100% {
                transform: translateX(0) rotate(1turn);
            }
        }
        @keyframes card-slide {
            0% {
                width: 100%;
                box-shadow: 0 4px 0 0 #ececec, 0 4px 0 0 #ececec;            
            }
            100% {
                width: 85%;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                box-shadow: 0 4px 0 0 #ececec, 0 4px 0 0 #ececec;            
            }  
        }
        @keyframes card-slide-back {
            0% {
                width: 85%;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                box-shadow: 0 4px 8px 0 #ececec, 0 0 0 0 #ececec; 
            }  
            100% {
                width: 100%;
                box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
            }
        }
        @keyframes card-refresh1 {
            0% {
                opacity: 0;
                transform: translateY(10px);
            }
            20% {
                opacity: 0;
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        & h2 {
            font-size: 18px;
        }
        @keyframes card-refresh2 {
            0% {
                opacity: 0;
                transform: translateY(10px);
            }
            40% {
                opacity: 0;
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        & h2 {
            font-size: 18px;
        }
        @keyframes card-refresh3 {
            0% {
                opacity: 0;
                transform: translateY(10px);
            }
            60% {
                opacity: 0;
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        & h2 {
            font-size: 18px;
        }
        @keyframes card-refresh4 {
            0% {
                opacity: 0;
                transform: translateY(10px);
            }
            80% {
                opacity: 0;
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        & h2 {
            font-size: 18px;
        }
    }
    & .btn-price {
        height: 69px;
        width: 59px;
        position: relative;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 25px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-weight: bold;
    }
    &__entrees{
        min-width: 0px;
        max-width: 281px;
        flex: 1;
        & h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        & p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__main_dish {
        min-width: 0px;
        max-width: 281px;
        flex: 1;
        & h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        & p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__desserts {
        min-width: 0px;
        max-width: 281px;
        flex: 1;
        & h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        & p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    }
     .navigation {
        &__button2 {
            display: flex;
            justify-content: center;
            align-self: center;
            align-items: center;
            border: none;
            margin-top: 30px;
            width: 186px;
            height: 50px;
            @include gradient;
            border-radius: 30px;
            cursor: pointer;
            color: #ffffff;
            font-weight: 600;
            &:hover {
                @include gradient-lighter; 
                @include button-shadow-darker;
            }
        }
    }
    #bigger-card{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #bigger-card8-hover {
        height: 86.297px;
        position: relative;
        margin-top: -86px;
    }
    #bigger-card4-hover {
        height: 86.297px;
        position: relative;
        margin-top: -86px;
    }
    #dish-bold {
        padding: 0px;
    }

.container1{
    animation: card-refresh1 1.2s backwards 0s 1 ease-out;
    
}
.container2{
    animation: card-refresh2 1.2s backwards 0s 1 ease-out;
}
.container3{
    animation: card-refresh3 1.2s backwards 0s 1 ease-out;
}
.container4{
    animation: card-refresh4 1.2s backwards 0s 1 ease-out;
}
@keyframes icon-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(25px);
    }
}
input[type='checkbox'].card{
    margin: 0px;
    height: 69px;
    opacity: 0;
    z-index: 6;
    width: 349px;
    &:checked ~ .menu__card{
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + .menu__card--hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &:not(:checked) ~ .menu__card{ 
        animation: card-slide-back 0.3s backwards 0s 1 ease-in-out; 
        & + .menu__card--hover i {
            animation: icon-out 0.3s backwards 0s 1 ease-in-out;
        } 
    }
}