body {
    width: 100%;
}
.header {
    &__picture {
        & img {
        object-fit: cover;
        width: 375px;
        height: 255px;
        }
    & a {
        width: 100%;
        }
    }
}
.menu {
    width: 375px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    position: relative;
    margin-top: -50px;
    padding-bottom: 60px;
    &__cards {
    display: flex;
    flex-direction: column;
    gap: 14px;
    &--uppercase {
        padding-top: 43px;
    }
    }
    &__name {
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        padding-top: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    &__entrees{
        width: 349px;
        background-color: #ffffff;
        border-radius: 20px;
        @include card-shadow;
        &--bold {
            font-weight: bold;
        }
    }
    &__main_dish {
        width: 349px;
        background-color: #ffffff;
        border-radius: 20px;
        @include card-shadow;
        &--bold {
            font-weight: bold;
        }
    }
    &__desserts {
    &--bold {
        font-weight: bold;
    }
    }
    & .navigation {
        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            margin-top: 30px;
            width: 186px;
            height: 50px;
            @include gradient;
            & p {
            color: #ffffff;
            }
        }
    }
}
.munu {
&__desserts {
    width: 349px;
    background-color: #ffffff;
    border-radius: 20px;
    @include card-shadow;
}
}

/*.about {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 5fr; 
    grid-template-rows: repeat(3, auto);
    padding: $grid-gutter;
    grid-template-areas:
        "imagery heading"
        "imagery copy"
        "imagery btn";
    margin-bottom: $grid-gutter;
    &__heading {
        grid-area: heading;
        color: $colour-white;
        @include heading-shadow;
        text-align: right;
        padding-right: $grid-gutter;
    }
    &__imagery {
        grid-area: imagery;
    }
    &__pic {
        overflow:hidden;
        width: 80%;
        border-radius: 1000rem;
        border: 1.5rem solid $colour-primary;
        & img {
            display: block;
            width: 100%;
        }
    }
    &__copy {
        grid-area: copy;
        & p{
            line-height: 2rem*1.2;
            margin-bottom: $grid-gutter*2.25;
        } 
    }
    &__btn{
        @include btn;
        grid-area: btn;
        & a {
            text-decoration: none;
        }
    }
}*/