body {
    width: 100%;
    /*& :first-child {
        animation: card-refresh 1s forwards 0.05s 1 ease-out;
    }*/
}
.header {
    &__picture {
        & img {
        object-fit: cover;
        width: 375px;
        height: 255px;
        }
    & a {
        width: 100%;
        }
    }
}
.btn {
    color: #060606;
    padding: 0px;
&:checked {
    & ~ i {
    font-weight: 900;
    background-clip: text;
    -webkit-background-clip: 
    text;color: transparent;
    @include gradient1;
    animation: heart 0.5s both 0.2s 1 ease-in;
    }
}
}
@keyframes heart{
    0% {
        transform: scaleY(0);
        opacity: .1;
        scale: 0;
    }
    17% {
        transform: scaleY(.18);
    }
    24% {
        transform: scaleY(.4);
    }
    46% {
        transform: scaleY(.81);
    }
    85%,100% {
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}
.menu {
    width: 375px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    position: relative;
    margin-top: -50px;
    padding-bottom: 60px;
    &__cards {
    display: flex;
    flex-direction: column;
    gap: 14px;
    &-heading {
        padding-left: 10px;
        padding-bottom: 14px;
        line-height: 1;
    }
    & h1 {
        width: 40px;
        height: 3px;
        color: $colour-tertiary;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &--uppercase {
        padding-top: 43px;
    }
    }
    &__name {
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        padding-top: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        color: #060606;
        & h1 {
            font-size: 25px;
            font-family: 'Shrikhand', cursive;
            font-style: italic;
        }
        & .btn {
            color: #060606;
        }
    }
    &__card {
        width: 349px;
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 20px;
        @include card-shadow;
        line-height: 1.3;
        padding-left: 15px;
        z-index: 1;
        cursor: pointer;
        @keyframes hover-opacity {
            0% {opacity: 0;}
            100%{ opacity: 0;}
        }
        &--hover {
            position: relative;
            color: #ffffff;
            background-color: $colour-tertiary;
            border-radius: 20px;
            width: 349px;
            height: 69px;
            margin-top: -83px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            z-index: 0;
            & i {
                padding: 16px;
                font-size: 23px;
                position: relative;
            }
        }
       /* &:before {
            content: '';
            position: absolute;
            z-index: 1;
            animation: card 0.5s forwards 0.2s 1 ease-out;
        }
        &:after {
            content: '';
            position: absolute;
            z-index: -2;
            animation: card1 0.5s backwards 0.2s 1 ease-in;
        }*/
        @keyframes spin-to-wiew {
            0% {
                transform: translateX(25px) rotate(0turn);
            }
            100% {
                transform: translateX(0) rotate(1turn);
            }
        }
        @keyframes card-slide {
            0% {
                width: 100%;
                box-shadow: 0 4px 0 0 #ececec, 0 4px 0 0 #ececec;            
            }
            100% {
                width: 85%;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                box-shadow: 0 4px 0 0 #ececec, 0 4px 0 0 #ececec;            
            }  
        }
        @keyframes card-slide-back {
            0% {
                width: 85%;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                box-shadow: 0 4px 8px 0 #ececec, 0 0 0 0 #ececec; 
            }  
            100% {
                width: 100%;
                box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
            }
        }
        @keyframes card-refresh {
            0% {
                transform: translateY(10px);
            }
            100% {
                transform: translateY(0px);
            }
        }
        & h2 {
            font-size: 18px;
        }
    }
    & .btn-price {
        height: 69px;
        width: 59px;
        position: relative;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 25px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-weight: bold;
    }
    &__entrees{
        min-width: 0px;
        max-width: 281px;
        flex: 1;
        & h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        & p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__main_dish {
        min-width: 0px;
        max-width: 281px;
        flex: 1;
        & h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        & p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__desserts {
        min-width: 0px;
        max-width: 281px;
        flex: 1;
        & h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        & p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    }
     .navigation {
        &__button2 {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            margin-top: 30px;
            width: 186px;
            height: 50px;
            @include gradient;
            border-radius: 30px;
            cursor: pointer;
            & p {
            color: #ffffff;
            font-weight: 600;
            }
            &:hover {
                @include gradient-lighter; 
                @include button-shadow-darker;
            }
        }
    }
    #bigger-card{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #bigger-card8-hover {
        height: 86.297px;
        position: relative;
        margin-top: -100.297px;
    }
    #bigger-card4-hover {
        height: 86.297px;
        position: relative;
        margin-top: -100.297px;
    }
    #dish-bold {
        padding: 0px;
    }
#card1 {
    animation: card-refresh 1s forwards 0.05s 1 ease-out;
    & + #card1-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover{
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        &::before{
            content: '';
            opacity: 1;
        }
        & + #card1-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
        &::after{
            animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
        }
    }
}
#card2 {
    animation: card-refresh 1s forwards 0.1s 1 ease-out;
    & + #card2-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card2-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card3 {
    animation: card-refresh 1s forwards 0.15s 1 ease-out;
    & + #card3-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card3-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card4 {
    animation: card-refresh 1s forwards 0.2s 1 ease-out;
    & + #card4-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card4-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card4 {
    animation: card-refresh 1s forwards 0.30s 1 ease-out;
    & + #bigger-card4-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #bigger-card4-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card5 {
    animation: card-refresh 1s forwards 0.25s 1 ease-out;
    & + #card5-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card5-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card6 {
    animation: card-refresh 1s forwards 0.30s 1 ease-out;
    & + #card6-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card6-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card7 {
    animation: card-refresh 1s forwards 0.35s 1 ease-out;
    & + #card7-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card7-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &:hover::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card8 {
    animation: card-refresh 1s forwards 0.40s 1 ease-out;
    & + #card8-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card8-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card8 {
    animation: card-refresh 1s forwards 0.40s 1 ease-out;
    & + #bigger-card8-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #bigger-card8-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card9 {
    animation: card-refresh 1s forwards 0.45s 1 ease-out;
    & + #card9-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card9-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}
#card10 {
    animation: card-refresh 1s forwards 0.45s 1 ease-out;
    & + #card10-hover {
        animation: hover-opacity 1s backwards 0.06s 1 ease;
    }
    &:hover {
        animation: card-slide 0.5s forwards 0.2s 1 ease-out;
        & + #card10-hover i {
            animation: spin-to-wiew 0.5s forwards 0.2s 1 ease-out;
        }
    }
    &::after{
        animation: card-slide-back 0.5s backwards 0.2s 1 ease-in;
    }
}