@media (min-width: 375px) and (max-width: 768px){
body {
    width: 100%;
}
header.header {
    width: 100%;
    max-width: 768px;
}
div.header{
&__logo{
    height: 84px;
}
&__location{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 17px;
}
&__content{
    height: 250px;
    padding-bottom: 15px;
    & div {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
}
&__picture {
    width: 100%;
    max-width: 768px;
& a img {
        width: 100%;
        max-width: 768px;
    }
}
}
nav.navigation-container{
    padding: 15px 0px;
}
section.restaurants {
    width: 100%;
    max-width: 768px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}
div.restaurants{
    &-cards__1{
        width: 93%;
        & a img {
            width: 100%;
        }
    &--new {
        & div.new h3 {    
            margin-left: 75%;
        }
        width: 93%;
        & a img {
            width: 100%;
        }
    }
    }
}
input.btn {
    margin-left: 55%;
    width: 25%;
    height: 7%;
}
footer.footer{
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    width: 70%;
}
section.menu {
    width: 100%;
    max-width: 768px;
}
div.menu__cards{
    width: 80%;
}
div.menu__card{
    width: 100%;
    &--hover{
        width: 100%;
    }
}
div.container1{
    width: 100%;
}
div.menu__name input.btn {
    margin-left: 63%;
    width: 10%;
    height: 3%;
}
}


@media (min-width: 768px) and (max-width: 991px){

}
