@media (min-width: 376px){
div#logo.header__logo {
    height: 84px;
    margin-right: 10%;
}
span.loader{
    margin-top: -1500px;
}
body {
    width: 100%;
}
header.header {
    width: 100%;
    max-width: 768px;
}
div.header{
&__logo{
    height: 84px;
}
&__location{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 17px;
}
&__content{
    height: 250px;
    padding-bottom: 15px;
    & div {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
}
&__picture {
    width: 100%;
    max-width: 768px;
& a img {
        width: 100%;
        max-width: 768px;
    }
}
}
nav.navigation-container{
    padding: 15px 0px;
    margin-bottom: 40px;
}
section.restaurants {
    width: 100%;
    max-width: 991px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}
div.restaurants{
    &-cards__1{
        width: 93%;
        & a img {
            width: 100%;
        }
    &--new {
        & div.new h3 {    
            margin-left: 75%;
        }
        width: 93%;
        & a img {
            width: 100%;
        }
    }
    }
}
input.btn {
    margin-left: 75%;
    width: 25%;
    height: 7%;
}
footer.footer{
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    width: 70%;
}
section.menu {
    width: 100%;
    max-width: 768px;
}
div.menu__cards{
    width: 80%;
}
div.menu__card{
    width: 100%;
    &--hover{
        width: 100%;
    }
}
div.container1{
    width: 100%;
}
div.menu__name input.btn {
    margin-left: 75%;
    width: 25%;
    height: 3%;
}
}


@media (min-width: 768px){
div#logo.header__logo {
    height: 84px;
    margin-right: 15%;
}
header.header {
    max-width: 991px;
}
div.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px
}
section.menu {
    max-width: 991px;
}
div.header__picture {
    max-width: 991px;
& a img {
        max-width: 991px;
    }
}
input.btn {
    margin-left: 30%;
    width: 15%;
    height: 7%;
}
div.restaurants-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div.restaurants-cards__1 {
    width: 45%;
    max-width: 445px;
    &--new{
    width: 45%;
    max-width: 445px;
    }
}
footer.footer{
    max-width: 991px;
}
}