@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin card-shadow{
    box-shadow: 0 4px 8px 0 #ececec, 0 6px 20px 0 #ececec;
}
@mixin button-shadow{
    box-shadow: 0px 3px 0px 5px #ececec, 0px 3px 5px 5px #ececec;
}
@mixin button-shadow-darker{
    box-shadow: 0px 3px 0px 5px #e0dfdf, 0px 3px 5px 5px #dad9d9;
}
@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin gradient1{
    background-image: linear-gradient($colour-primary, $colour-primary-lighter);
}
@mixin gradient{
    background-image: linear-gradient($colour-primary-lighter, $colour-primary);
}
@mixin gradient-lighter {
    background-image: linear-gradient($colour-primary-lighter1, $colour-primary-lighter2);
}
@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin btn {
    padding: $grid-gutter;
    @include border;
    color: $colour-primary;
    background: $colour-secondary;
    cursor: pointer;
    &:hover{
        background: $colour-primary;
        color: $colour-tertiary;
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}